@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #072e36;
  color: #c6cabe;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header ul.nav {
  float: right;
  list-style: none;
}

footer ul {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity .2s ease;
}

footer ul li {
  margin-left: 25px;
  cursor: pointer;
  transition: opacity .2s ease;
}

header ul.nav button {
  color: #c6cabe;
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity .2s ease;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
}

footer ul button {
  color: #c6cabe;
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity .2s ease;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
}

header ul.nav li:hover {
  opacity: 0.5;
}

footer ul  li:hover {
  opacity: 0.5;
}

/* header .presentation {
  margin: 50px 0;
  background: url("./img/bg.png") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center 30%;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

header .presentation::after {
  content: 'Лучшие игры для Вас';
  position: absolute;
  bottom: 45px;
  left: 50px;
  width: 300px;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  line-height: 39px;
}

header .presentation::before {
  content: 'по самым низким ценам';
  position: absolute;
  bottom: 15px;
  left: 50px;
  width: 300px;
  color: #fff;
  font-weight: 300;
} */

footer {
  text-align: center;
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.573);
  width: 100%;
  height: 150px;
  display: flex;
  border-radius: 0 0 10px 10px;
}


header .logo_img {
  width: 75px;
  max-width: 100%;
  transition: all 0.1s ease;
  cursor: pointer;
}

header .logo_img:hover{
  opacity: 0.5;
}

footer .logo_img {
  width: 50px;
  max-width: 100%;
  cursor: pointer;
}



.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presentation {
  margin: 50px 0;
  background: url("./img/bg.png") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center 30%;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

.presentation::after {
  content: 'Лучшие игры для Вас';
  position: absolute;
  bottom: 45px;
  left: 50px;
  width: 300px;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  line-height: 39px;
}

.presentation::before {
  content: 'по самым низким ценам';
  position: absolute;
  bottom: 15px;
  left: 50px;
  width: 300px;
  color: #fff;
  font-weight: 300;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
}

.faq-block {
  width: 70%;
  text-align: left;
}

.question-block {
  margin: 20px;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.question-block {
  display: flex;
  flex-direction: column;
}